* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: #333;
    padding: 20px;
    width: 400px;
}

.calculator-screen {
    width: 100%;
    height: 80px;
    background-color: #222;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 2.5em;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    height: 80px;
    background-color: #444;
    border: none;
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #555;
}

button.operator {
    background-color: #f5913e;
}

button.equal-sign {
    background-color: #4CAF50;
    grid-column: span 2;
}

button.all-clear {
    background-color: #d9534f;
}

button.decimal {
    background-color: #333;
}
